body {
    background-color: #f8f9fa;
}

header, footer {
    background-color: #343a40;
    color: white;
}

#projects .card {
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    transition: all 0.2s ease-in-out;
}

#projects .card:hover {
    transform: scale(1.05);
}

.jumbotron {
    background-color: #fff;
    margin-bottom: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255);
}

